/* purgecss start ignore */
@tailwind base;

@tailwind components;

html {
  background-image: url('../assets/shape.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.benefit {
  background-image: url('../assets/benefitshape.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

.footer {
  background-image: url('../assets/vector.svg');
  background-repeat: no-repeat;
  background-position: center left;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
/* purgecss end ignore */

@tailwind utilities;

@tailwind screens;
