/* purgecss start ignore */
@tailwind base;

@tailwind components;

.backgroundn {
  background-image: url('../assets/wave.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.benefit {
  background-image: url('../assets/benefitshape.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

.footer {
  background-image: url('../assets/vector.svg');
  background-repeat: no-repeat;
  background-position: center left;
}

.backgroundShape {
  background-image: url('../assets/shapebackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (min-width: 380px) and (max-width: 639px) {
  .backgroundn {
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
  }
 
}

@media (min-width: 640px) {
  .backgroundn {
    background-image: url('../assets/shape.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
 
}
@media (min-width: 640px) and (max-width: 1023px) {
   .backgroundShape {
  background-image: url('../assets/shapebackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}
 
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
/* purgecss end ignore */

@tailwind utilities;
